<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header'); %>
    <h1>Become an admin</h1>
    <form action="" method="POST" class="signUp">
      <label for="secret">Enter the secret code to become an admin</label>
      <input name="secret" type="text" />
      <input type="submit" value="Submit" />
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
