<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header'); %>
    <form action="" method="POST" class="forms">
      <label for="secret">Enter the secret code to become a member</label>
      <input name="secret" type="text" />
      <% if(errors){ %>
      <p class="errors"><%= errors[0].msg %></p>
      <% } %>
      <input type="submit" value="Submit" class="submitForms" />
    </form>
  </body>
</html>
