.forms {
  width: 800px;
  margin: 50px auto;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 145, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 6px 2px 5px #4a4a4a;
  label {
    color: rgb(20, 20, 20);
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 700;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
  }
  .submitForms {
    width: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
  }
}

input:-webkit-autofill::first-line {
  font-size: 20px;
}
